COMPOSE_PROJECT_NAME=proyecto-freqtrade
FREQTRADE_IMAGE=freqtradeorg/freqtrade:stable
FREQTRADE_API_PORT=8080
FREQTRADE_CONFIG=/freqtrade/user_data/config.validation.json
FREQTRADE_STRATEGY=MiEstrategiaFaseB
